html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(198, 243, 168);
}

body {
    color: black;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p{
    padding: 0 10px;
    line-height: 1.8;
    color: rgb(14, 4, 80);
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3{
    padding: 5px 20px;
    margin: 0;
}